<div class="container-fluid" style="min-height: 100vh">
  <h2 class="fw-bolder">You May Like</h2>
  <div
    class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-4 my-4"
  >
    <div class="col" *ngFor="let product of rec_products">
      <div class="card">
        <div class="text-center">
          <a class="img-fluid" [routerLink]="['/products', product.id]">
            <img [src]="product.image" class="img" alt="..." height="200" />
          </a>
        </div>

        <div class="badge text-white position-absolute">New</div>
        <div class="card-body">
          <div class="mb-2">
            <span class="float-end price-hp">{{ product.price }} &dollar;</span>

            <!-- <span class="text-danger"> <s> Out Of Stock </s> </span> -->
          </div>
          <h5 class="card-title">{{ product.title }}</h5>
          <p>
            {{ product.category }}
          </p>
          <app-prouct-rating
            [rating]="product.rating.rate"
            (tellParent)="recivedChildData($event)"
          ></app-prouct-rating>
          <!-- <h6 class="text-success">Free shipping</h6> -->
          <div class="text-center">
            <a class="btn" (click)="AddCart(product)">
              <i class="fa fa-shopping-cart mr-1"></i> Add To Cart
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- View More Button -->
<!-- <section class="justify-content-center text-center view-more">
  <a [routerLink]="'/foryou'">
    <button class="btn">View More</button>
  </a>
</section> -->
<!-- View More Button -->
