<!-- Categories Start -->
<div class="container-fluid bg-light my-3">
  <div class="row justify-content-center">
    <h2 class="fw-bolder my-5">Categories</h2>
  <div class="row px-xl-5 p-0">
    <div class="col-lg-3 col-md-4 col-sm-6 pb-1" *ngFor="let cat of categories">
      <a class="text-decoration-none" [routerLink]="['/category', cat.catId]">
          <div class="cat-item img-zoom d-flex align-items-center mb-4">
              <div class="overflow-hidden" style="width: 100px; height: 100px;">
                  <img class="img-fluid" [src]="cat.cat_icon" alt="">
              </div>
              <div class="flex-fill pl-3 mx-3">
                  <h6>{{cat.catId}}</h6>
                  <!-- <small class="text-body">{{cat.count}} Products</small> -->
              </div>
          </div>
      </a>
  </div>
  